:root{
    --light-blue-1:#4eb6d9;
    --light-blue-2:#56b6d6;
    --mandarin:#d69a0d;
    --dart-frog:#e8b848;
    --greenish-blue:#1aedb5;
    --whitish-blue:#def7fa;
    --navy:#051b36;
    --dark-grey-1:#4e4f4f;
    --dark-grey-2:#353636;
    --light-grey-1:#a8a8a8;
    --light-grey-2:#d1d1d1;
    --ocean:#2d3f7a;
    --swamp: #47634f;
    --reef:#1a8aba;
    --freshwater:#0d74a1;
    --tomatofrog:#c7580e;
    --bread:#bdb59b;
    
}